<!DOCTYPE html>
<html lang="en">
<head>
    <script src=""></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Satellite Tracking</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>DU3 Satellite tracker</h1>
    <p>My homebrew sat software tracking project.</p>
    <p>Details <a href='https://github.com/timseed/' target='_blank'>here.</a></p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Upcoming Satellites </h1>
    <p><a href='/passes' target='_blank'> See what is due next.</a></p>
  </div>
</div>


</body>
</html>